h3 {
    font-weight: normal;
}
div.chip {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: blue;
}
#plinko-board {
    position: relative;
    width: 400px;
    height: 200px;
    background-image: url('board.png');
}
ul.buckets, ul.percents {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 5px 0;
}
ul.buckets {
    bottom: -2em;
    border-bottom: 1px solid black;
}
ul.percents {
    bottom: -3.5em;
}
ul.buckets li, ul.percents li {
    list-style: none;
    float: left;
    display: block;
    margin-left: 10.45%;
    width: 31px;
    text-align: center;
}